Статистика {{username}} по герою {{hero}}:

🕐 Всего времени в игре: {{time_played}} ч.
▶️ Игр сыграно: {{games_played}}
🏆 Побед: {{games_won}}
🏳️ Поражений: {{games_lost}}
➗ Винрейт: {{winrate}}%
💹 Убийств/смертей/исцеления (среднее): {{avg_eliminations}} / {{avg_deaths}} / {{avg_healing}}
💹 Убийств/смертей/исцеления (всего): {{total_eliminations}} / {{total_deaths}} / {{total_healing}}
🔫 KDA за всё время: {{total_kda}}